DATABASE_URL=
DIRECT_URL=
REDIS_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
MINIO_URL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
PYTHON_SERVICE_URL=
SHRIKDB_URL=
PORT=3000
NODE_ENV=development
CI_DEPLOY_THRESHOLD=
